<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uc.mybatis.mapper.UcUsergroupMapper" >
  <resultMap id="BaseResultMap" type="com.uc.mybatis.model.UcUsergroup" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="userGroup_Id" property="usergroupId" jdbcType="INTEGER" />
    <result column="userGroup_name" property="usergroupName" jdbcType="VARCHAR" />
    <result column="userGroup_DESc" property="usergroupDesc" jdbcType="VARCHAR" />
    <result column="Enabled" property="enabled" jdbcType="INTEGER" />
  </resultMap>
</mapper>